<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dao 클래가 있는 전체 풀경로를 써주면 된다. -->
<mapper namespace="com.example.sjw.SJWSpring.member.dao.MemberDao">

    <!-- 회원 리스트를 조회한다. -->
    <select id="selectMemberList"
        parameterType="com.example.sjw.SJWSpring.member.bean.MemberBean"
        resultType="com.example.sjw.SJWSpring.member.bean.MemberBean">
        SELECT
            id
            ,username
            ,password
            ,email
            ,role_id as roleId
        FROM User
        WHERE
            1=1
            <if test="username != '' and username != null">
                 and username like concat('%', #{username},'%')
            </if>
            <if test="id != '' and id != null">
                 and id like concat('%', #{id},'%')
            </if>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!--- 회원가입 -->
    <insert id="insertUser" parameterType="com.example.sjw.SJWSpring.member.bean.MemberBean">
        INSERT INTO User
        (
            username
            ,password
            ,email
            ,role_id
        )
        VALUES
        (
            #{username}
            ,#{password}
            ,#{email}
            ,#{roleId}
        )
    </insert>

    <!-- 회원 수정 -->
    <update id="updateUser" parameterType="com.example.sjw.SJWSpring.member.bean.MemberBean">

        UPDATE User
        SET
            username = #{username}
            ,password = #{password}
            <if test=" email !='' and email != null " >
                ,email = #{email}
            </if>
        WHERE
            id=#{id}

    </update>

    <!-- 회원 삭제 -->
    <delete id="deleteUser" parameterType="com.example.sjw.SJWSpring.member.bean.MemberBean">
        DELETE FROM User
        WHERE
            id=#{id}
    </delete>


</mapper>